<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger alert-dismissable"><%= msg %>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>

  <% }); %>
<% } %>

<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="alert alert-success alert-dismissable"><%= msg %>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>
  <% }); %>
<% } %>
