<!-- <div id="header"> -->
<div id="header" class="jumbotron text-center">
  <h3 id="header-logo">.TXTPHILE</h1>
  <ul id="nav-links">
    <li><a href="/auth/signup">Signup</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/user">User Home</a></li>
  </ul>
</div>
