<h2>Home</h2>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>


<h1>File Upload</h1>

<form enctype="multipart/form-data" action="/upload" method="post">
  <input type="file" name="myFile">
  <input type="submit">
</form>
