body {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  height: 500px;
}

#header-logo {
  position: relative;
  width: 15%;
  color: white;
  font-family: 'Muli', serif;
  padding: 0;
  margin: 0 auto;
  top: 30%;
  font-size: 40px;
}

#header-logo:hover {
  color: lightgreen;
}

#header {
  /*position: relative;*/
  background-color: rgba(100, 100, 100, .3);
}

#nav-links {
  position: relative;
  left: 70%;
  top: 30%;
  /*border: black solid 1px;*/
  width: 30%;
}

#nav-links li {
  display: inline;
  padding: 5%;
}

#nav-links li a {
  color: white;
}

#nav-links li a:hover {
  text-decoration: none;
  color: coral;
}

#main-body{
  /*border: black solid 1px;*/
  text-align: center;
}

.input-form {
  width: 50%;
  margin: 0 auto;
}

#current-texts {
  position: relative;
  /*border: solid purple 1px;*/
  width: 40%;
  float: right;
  text-align: center;

}

#compare-btn {
  text-align: center;
}

.display-text {
  position: relative;
  border: solid white 1px;
  margin: 5px;
  width: 100%;
  left: 0;
}

.body-text {
  padding-top: 12%;
  width: 50%;
  margin: 0 auto;
}

.header-text {
  padding-top: 5%;
  width: 50%;
  margin: 0 auto;
}
