<div class="container">
  <div class="row">
    <div class="col-lg-12" id="edit-text-box">
      <h1>View and edit your phile</h1>

      <form action="/user/<%= document.dataValues.id %>" method="PUT" id="put-form">
        <textarea name="editInput" rows="10" cols="70"> <%= document.dataValues.body %> </textarea>
        <br>
        <button type="submit" class="btn btn-success">Edit Text</button>
      </form>

    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  //for the put route
  $('#put-form').on('submit', function(e) {
      e.preventDefault();
      var element = $(this);
      var url = element.attr('action');
      var formData = element.serialize();

      $.ajax({
          method: 'PUT',
          url: url,
          data: formData
      }).done(function(data) {
          // data returned from the PUT route
          console.log(data);
          // refresh the page we're on using GET to display the item details.
          window.location = "/user";
      });
  });
</script>
