<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12" id="poem-header">
      <h1>Select a poem!</h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-selection">
      <select id="author-selection">
        <% authors.authors.forEach(function(authors){ %>
          <option value="<%- authors %>"><%= authors %></option>
        <% }); %>
      </select>
      <button type="button" onclick="selectAuthor()">Select author</button>

      <select id="title-selection">

          <option value="#">Select the title</option>

      </select>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-display">
      <p>Display the poem and here before commiting to the db</p>
      <button type="button">Select poem</button>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
function selectAuthor(){
  var authorVal = $("#author-selection").val();
  console.log(authorVal);
}
    // var authorVal = $("#author-selection option:selected").val();
    // console.log(authorVal);

</script>
