<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12" id="poem-header">
      <h1>Select a poem!</h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-selection">
        <select id="author-selection">
          <option id="authorId"><%= currAuthor %></option>
        </select>

        <!-- Title Query -->
      <select id="title-selection">
        <option value="#"><%= currTitle %></option>
      </select>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-display">
      <form action="/user/author" method="post">
        <textarea name="poem" cols="80" rows="20" readonly> <%= poem[0].lines %> </textarea>
        <button type="submit" class="btn btn-success">Save poem</button>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

</script>
