<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12" id="poem-header">
      <h1>Select a poem!</h1>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-selection">
        <select id="author-selection">
          <option id="authorId"><%= currentAuthor %></option>
        </select>

        <!-- Title Query -->
      <select id="title-selection">
        <option value="#">Select the title</option>
      </select>
      <a id="selectTitle" href="/user/author/#"><%= currTitle %></a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="poem-display">
      <p>Display the poem and here before commiting to the db</p>
      <button type="button">Select poem</button>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

$("#title-selection").change(function(){
    var currTitle = this.value;
    var currAuthor = $("#authorId").text();

    console.log(currTitle);
    $("#selectAuthor").attr("href", "/user/author/"+currAuthor+"/title/"+currTitle);
});





</script>
