<h1>sup blood</h1>

<form action="/user/<%= document.dataValues.id %>" method="PUT" id="put-form">
  <textarea name="editInput"> <%= document.dataValues.body %> </textarea>
  <button type="submit" class="btn btn-success">Edit Text</button>
</form>

<script>
$('#put-form').on('submit', function(e) {
  console.log("what is up here");
    e.preventDefault();
    var element = $(this);
    var url = element.attr('action');
    var formData = element.serialize();
    $.ajax({
        method: 'PUT',
        url: url,
        data: formData
    }).done(function(data) {
        // get data returned from the PUT route
        console.log(data);

        // refresh the page we're on using GET to display the item details.
        window.location = "/user";
    });
});
</script>
