<h1>Select a title!</h1>

<form method="post" action="/titles">
<select class="selectpicker" onChange="selectAuthor(this.value)">
<!-- Display all the authors from db -->
<% authors.authors.forEach(function(authors){ %>
  <option><%= authors %></option>
<% }); %>
</select>
<button type="submit" class="btn btn-success">Select</button>
</form>
